<!-- Looping throu all selected team members from team number -->
<% @team_number.times do %>
    <div class="row">
       <% # Variables for randomnize avatars, avtar-backgrounds.
        rand_num = rand(1..1000)
        set_number = rand(1..4) 
        bg = rand(1..2)
       
       # if statment for randominze avatar picture
       if set_number == 1
          set = "set1"
        elsif set_number == 2
          set = "set2"
        elsif set_number == 3
          set = "set3"
        else 
          set = "set4"
       end
       
       # if statement for randominze background i avatar picture
       if bg == 1
          background = "bg1"
        else
          background = "bg2"
       end
       # Varaible with url from robothash.org, for customizing url 
       avatar = Faker::Avatar.image(rand_num, "300x300", "png", set, background) %>
        <br/>
        <div class="col-md-4">
            <img="<%= avatar %>"/>
            <br/><br/>
        </div>
        <div class="col-md-4">
           <h3>Superhero Name:</h3><p class="red"><strong><%= Faker::Superhero.prefix + ' ' + Faker::Superhero.name %></strong></p>
           <h3>Power:</h3> <p class="red"><%= Faker::Superhero.power %></p><br/><br/>
           <h4>Your undercover day job is:</h4>
           <p class="corp-red"><%= Faker::Name.title %></p>
           <h4>Your Corporate Superpower is:</h4>
           <p class="corp-red"><%= Faker::Company.bs.titleize %></p><br/><br/>
        </div>
        <div class="col-md-4">
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
<% end %>